body{
    background: black;
}

/*1开始*/

/*1结束*/
.a1{
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 10px;
}
.b1{
     width: 0.5rem;
     height: 0.5rem;
     background: red;
     border-radius: 50%;
 }

/*2开始*/
.b2{
    width: 0.25rem;
    height: 0.25rem;
    background:blue;
    border-radius: 50%;
}
.c2{
    width: 1rem;
    height: 1rem;
    padding: 0.1rem 0.1rem;
}

/*2结束*/

/*3开始*/
/*3结束*/

/*4开始*/
.b4{
    width: 0.25rem;
    height: 0.25rem;
    background:red;
    border-radius: 50%;
}

/*4结束*/

/*5开始*/
/*5结束*/

/*6开始*/
/*6结束*/